* {
  --primary-color:#615ecb;
  --primary-color-rgb: 53, 78, 51;
  --secondary-color: #615ecb;
  --secondary-color-rgb: 121, 141, 122;
  --background:#f3f4fb;
  --title-font-color: #615ecb;
  --body-font-color: #3b1e7d;
  --dark-body-font-color: rgba(255, 255, 255, .75);
  --bg-color-even: #E8E8E8;
  --bg-color-odd: #F4F4F4;
  --bg-dark-1: #615ecb;
  --bg-dark-1-rgb: 53, 78, 51;
  --bg-dark-2: #373dac;
  --bg-dark-3: #615ecb;
  --bg-dark-3-rgb: 46, 69, 44;
  --bg-grey: #6778d6;
  --bg-light: #6778d6;
}
